In [48]:
import numpy as np
import pandas as pd
import sys
import matplotlib.pyplot as plt
import math

ModuleNotFoundError: No module named 'matplotlib'

<html>
    <H1>My Major League Baseball Hall of Fame Data Analysis Project</H1>
    <p>Welcome.</p>
    <br>
    <lo>
        <li>Explore what makes a player a hall of famer</li>
    </lo>
</html>

In [54]:
import seaborn as sns

SyntaxError: invalid syntax (<ipython-input-54-dbb9f1d646f1>, line 1)

<h2>Explore what makes a player a hall of famer</h2>

<h3>Supporting Functions</h3>

In [24]:
def calc_percentOfVotes(ballots,votes):
    return int(round(votes/ballots*100))

def calc_AllStarStart(startingPos):
    if startingPos > 0:
        return 1
    else:
        return 0

def calc_AllStarGames(year):
    if year > 0:
        return 1   
    else:
        return 0  

#def roundup(x):
    #--round up to the nearest 10
#    return int(math.ceil(x / 10.0)) * 10

def round_down(num):
    #--round down to the nearest 10
    divisor = 10
    return num - (num%divisor)

In [25]:
#----------------------------------------
#           load HOF data
#----------------------------------------
df_HallOfFame_all = pd.read_excel('data/HallOfFame.xlsx')
df_HallOfFame_all = df_HallOfFame_all[df_HallOfFame_all.category == 'Player']
df_HallOfFame_all = df_HallOfFame_all[df_HallOfFame_all.votedBy == 'BBWAA']
df_HallOfFame_all['ElectionDecade'] = df_HallOfFame_all.apply(lambda x: round_down(x.yearid), axis=1)

#--inducted
df_HallOfFame_INDUCTED = df_HallOfFame_all[df_HallOfFame_all.inducted == 'Y']

#-not inducted
df_No_HallOfFame = df_HallOfFame_all[df_HallOfFame_all.inducted != 'Y']

#--combined list - inducted and not inducted
df_Dups = df_No_HallOfFame.merge(df_HallOfFame_INDUCTED, on=['playerID'], how='left')
#--remove inducted from non inducted df
df_No_HallOfFame = df_Dups[df_Dups.inducted_y != 'Y']

df_HallOfFame_all.head(5)

,playerID,yearid,votedBy,ballots,needed,votes,inducted,category,needed_note,ElectionDecade
0,aaronha01,1982,BBWAA,415.0,312.0,406.0,Y,Player,NaN,1980
1,abbotji01,2005,BBWAA,516.0,387.0,13.0,N,Player,NaN,2000
2,adamsba01,1937,BBWAA,201.0,151.0,8.0,N,Player,NaN,1930
3,adamsba01,1938,BBWAA,262.0,197.0,11.0,N,Player,NaN,1930
4,adamsba01,1939,BBWAA,274.0,206.0,11.0,N,Player,NaN,1930

In [26]:
#--clean up the data
df_No_HallOfFame.rename(
    {'ElectionDecade_x': 'ElectionDecade',
     'inducted_x':'inducted',
     'ballots_x':'ballots',
     'needed_x':'needed',
     'votes_x':'votes',
     'yearid_x':'yearid',
     'playerID':'playerID',
    },
    axis=1 ,
    inplace=True
)

myColumns = ['ElectionDecade','inducted','ballots','needed','votes','yearid','playerID']
df_No_HallOfFame = df_No_HallOfFame[myColumns].copy()

df_HallOfFame_INDUCTED.rename(
    {'ElectionDecade_y': 'ElectionDecade',
     'inducted_y':'inducted',
     'ballots_y':'ballots',
     'needed_y':'needed',
     'votes_y':'votes',
     'yearid_y':'yearid',
     'playerID':'playerID',
    },
    axis=1 ,
    inplace=True
)

df_HallOfFame_INDUCTED = df_HallOfFame_INDUCTED[myColumns].copy()
df_HallOfFame = pd.concat([df_No_HallOfFame, df_HallOfFame_INDUCTED])

df_HallOfFame.head(5)

C:\Users\David\Anaconda3\envs\ipykernel_py3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

   ElectionDecade inducted  ballots  needed  votes  yearid   playerID
0            2000        N    516.0   387.0   13.0    2005  abbotji01
1            1930        N    201.0   151.0    8.0    1937  adamsba01
2            1930        N    262.0   197.0   11.0    1938  adamsba01
3            1930        N    274.0   206.0   11.0    1939  adamsba01
4            1940        N    233.0   175.0   11.0    1942  adamsba01

In [27]:
#----------------------------------------
#           load people
#----------------------------------------
df_People = pd.read_excel('data/People.xlsx')

df_People.head(5)

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,adkindo01,1872.0,8.0,5.0,USA,WI,Troy,1934.0,2.0,21.0,...,Adkins,Merle Theron,220.0,70.0,R,R,1902-06-24,1903-09-29,adkid102,adkindo01
1,adkingr01,1897.0,6.0,29.0,USA,AR,Jacksonville,1966.0,3.0,31.0,...,Adkins,Grady Emmett,175.0,71.0,R,R,1928-04-13,1929-10-05,adkig101,adkingr01
2,adkinhe01,1874.0,1.0,19.0,USA,MO,Fulton,1953.0,1.0,2.0,...,Atkinson,John Harry,NaN,NaN,NaN,NaN,1895-09-25,1895-09-25,adkih101,adkinhe01
3,adkinjo01,1977.0,8.0,30.0,USA,WV,Huntington,NaN,NaN,NaN,...,Adkins,Jonathan Scott,200.0,72.0,L,R,2003-08-14,2008-09-27,adkij001,adkinjo01
4,adkinst01,1964.0,10.0,26.0,USA,IL,Chicago,NaN,NaN,NaN,...,Adkins,Steven Thomas,210.0,78.0,R,L,1990-09-12,1990-10-03,adkis001,adkinst01

In [28]:
#----------------------------------------
#           load batting
#----------------------------------------
df_Batting = pd.read_excel('data/Batting.xlsx')
df_Batting_agg = df_Batting.groupby(['playerID']).agg({'R':'sum','H':'sum','HR':'sum','RBI':'sum','SB':'sum','2B':'sum','3B':'sum','BB':'sum','IBB':'sum','AB':'sum'}).reset_index()

df_Batting_agg.head(5)

    playerID     R     H   HR     RBI     SB   2B  3B    BB    IBB     AB
0  aardsda01     0     0    0     0.0    0.0    0   0     0    0.0      4
1  aaronha01  2174  3771  755  2297.0  240.0  624  98  1402  293.0  12364
2  aaronto01   102   216   13    94.0    9.0   42   6    86    3.0    944
3   aasedo01     0     0    0     0.0    0.0    0   0     0    0.0      5
4   abadan01     1     2    0     0.0    0.0    0   0     4    0.0     21

In [29]:
#---------------------------------------
#           merge HOF and people 
#---------------------------------------
df_myHOF = df_HallOfFame.merge(df_People, on=["playerID"], how='left')

df_myHOF.head(5)

,ElectionDecade,inducted,ballots,needed,votes,yearid,playerID,birthYear,birthMonth,birthDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,2000,N,516.0,387.0,13.0,2005,abbotji01,1967.0,9.0,19.0,...,Abbott,James Anthony,200.0,75.0,L,L,1989-04-08,1999-07-21,abboj001,abbotji01
1,1930,N,201.0,151.0,8.0,1937,adamsba01,1882.0,5.0,18.0,...,Adams,Charles Benjamin,185.0,71.0,L,R,1906-04-18,1926-08-11,adamb104,adamsba01
2,1930,N,262.0,197.0,11.0,1938,adamsba01,1882.0,5.0,18.0,...,Adams,Charles Benjamin,185.0,71.0,L,R,1906-04-18,1926-08-11,adamb104,adamsba01
3,1930,N,274.0,206.0,11.0,1939,adamsba01,1882.0,5.0,18.0,...,Adams,Charles Benjamin,185.0,71.0,L,R,1906-04-18,1926-08-11,adamb104,adamsba01
4,1940,N,233.0,175.0,11.0,1942,adamsba01,1882.0,5.0,18.0,...,Adams,Charles Benjamin,185.0,71.0,L,R,1906-04-18,1926-08-11,adamb104,adamsba01

In [30]:
#---------------------------------------
#           merge HOF and batting
#---------------------------------------
df_myHOF = df_myHOF.merge(df_Batting_agg, on=["playerID"])

df_myHOF.head(5)

,ElectionDecade,inducted,ballots,needed,votes,yearid,playerID,birthYear,birthMonth,birthDay,...,R,H,HR,RBI,SB,2B,3B,BB,IBB,AB
0,2000,N,516.0,387.0,13.0,2005,abbotji01,1967.0,9.0,19.0,...,0,2,0,3.0,0.0,0,0,0,0.0,21
1,1930,N,201.0,151.0,8.0,1937,adamsba01,1882.0,5.0,18.0,...,79,216,3,75.0,1.0,31,15,53,0.0,1019
2,1930,N,262.0,197.0,11.0,1938,adamsba01,1882.0,5.0,18.0,...,79,216,3,75.0,1.0,31,15,53,0.0,1019
3,1930,N,274.0,206.0,11.0,1939,adamsba01,1882.0,5.0,18.0,...,79,216,3,75.0,1.0,31,15,53,0.0,1019
4,1940,N,233.0,175.0,11.0,1942,adamsba01,1882.0,5.0,18.0,...,79,216,3,75.0,1.0,31,15,53,0.0,1019

In [31]:
#---------------------------------------
#           eliminate pitchers
#---------------------------------------
df_Pitching = pd.read_excel('data/Pitching.xlsx')
df_Pitching['isPitcher'] = df_Pitching.apply(lambda _: '', axis=1)
df_Pitching['isPitcher'] =  True
myPitchColumns = ['playerID', 'isPitcher', 'G']
df_Pitching = df_Pitching[myPitchColumns].copy()
df_Pitching = df_Pitching[df_Pitching.G > 10]
del df_Pitching['G']
df_myHOF = df_myHOF.merge(df_Pitching, on=["playerID"], how='left')
df_myHOF = df_myHOF[df_myHOF.isPitcher != True]
del df_myHOF['isPitcher']

df_myHOF.head(5)

,ElectionDecade,inducted,ballots,needed,votes,yearid,playerID,birthYear,birthMonth,birthDay,...,R,H,HR,RBI,SB,2B,3B,BB,IBB,AB
220,1960,N,302.0,227.0,1.0,1966,adamsbo03,1921.0,12.0,14.0,...,591,1082,37,303.0,67.0,188,49,414,1.0,4019
221,1950,N,266.0,200.0,1.0,1958,adamssp01,1894.0,8.0,26.0,...,844,1588,9,394.0,154.0,249,48,453,0.0,5557
222,1960,N,269.0,202.0,1.0,1960,adamssp01,1894.0,8.0,26.0,...,844,1588,9,394.0,154.0,249,48,453,0.0,5557
223,1970,N,432.0,324.0,0.0,1979,ageeto01,1942.0,8.0,9.0,...,558,999,130,433.0,167.0,170,27,342,26.0,3912
277,1970,N,432.0,324.0,0.0,1979,allenbe01,1939.0,4.0,16.0,...,357,815,73,352.0,13.0,140,21,370,52.0,3404

In [32]:
#---------------------------------------
#           merge All Star starts/games
#---------------------------------------
df_AllStarFull = pd.read_excel('data/AllstarFull.xlsx')
df_AllStarFull['AllStarStarts'] = df_AllStarFull.apply(lambda x: calc_AllStarStart(x.startingPos), axis=1) 
df_AllStarStarts = df_AllStarFull.groupby(['playerID']).agg({'AllStarStarts':'sum'}).reset_index()
df_myHOF = df_myHOF.merge(df_AllStarStarts, on=["playerID"], how='left')
df_AllStarFull['AllStarGames'] = df_AllStarFull.apply(lambda x: calc_AllStarGames(x.yearID), axis=1) 
df_AllStarGames = df_AllStarFull.groupby(['playerID']).agg({'AllStarGames':'sum'}).reset_index()
df_myHOF = df_myHOF.merge(df_AllStarGames, on=["playerID"], how='left')

df_myHOF.head(5)

,ElectionDecade,inducted,ballots,needed,votes,yearid,playerID,birthYear,birthMonth,birthDay,...,HR,RBI,SB,2B,3B,BB,IBB,AB,AllStarStarts,AllStarGames
0,1960,N,302.0,227.0,1.0,1966,adamsbo03,1921.0,12.0,14.0,...,37,303.0,67.0,188,49,414,1.0,4019,NaN,NaN
1,1950,N,266.0,200.0,1.0,1958,adamssp01,1894.0,8.0,26.0,...,9,394.0,154.0,249,48,453,0.0,5557,NaN,NaN
2,1960,N,269.0,202.0,1.0,1960,adamssp01,1894.0,8.0,26.0,...,9,394.0,154.0,249,48,453,0.0,5557,NaN,NaN
3,1970,N,432.0,324.0,0.0,1979,ageeto01,1942.0,8.0,9.0,...,130,433.0,167.0,170,27,342,26.0,3912,0.0,2.0
4,1970,N,432.0,324.0,0.0,1979,allenbe01,1939.0,4.0,16.0,...,73,352.0,13.0,140,21,370,52.0,3404,NaN,NaN

In [33]:
#---------------------------------------
#           merge Awards
#---------------------------------------
df_Awards = pd.read_excel('data/AwardsPlayers.xlsx')
#--Gold Glove
df_GoldGlove =  df_Awards[df_Awards.awardID == 'Gold Glove']
df_GoldGlove = df_GoldGlove.groupby(['playerID']).size().reset_index()
df_GoldGlove = df_GoldGlove.rename(columns={df_GoldGlove.columns[1]: 'GoldGlove'})
df_myHOF = df_myHOF.merge(df_GoldGlove, on=["playerID"], how='left')
#--TSN All Star
df_TSNAllStar =  df_Awards[df_Awards.awardID == 'TSN All-Star']
df_TSNAllStar = df_TSNAllStar.groupby(['playerID']).size().reset_index()
df_TSNAllStar = df_TSNAllStar.rename(columns={df_TSNAllStar.columns[1]: 'TSNAllStar'})
df_myHOF = df_myHOF.merge(df_TSNAllStar, on=["playerID"], how='left')
#--Most Valuable Player
df_MVP =  df_Awards[df_Awards.awardID == 'Most Valuable Player']
df_MVP = df_MVP.groupby(['playerID']).size().reset_index()
df_MVP = df_MVP.rename(columns={df_MVP.columns[1]: 'MVP'})
df_myHOF = df_myHOF.merge(df_MVP, on=["playerID"], how='left')
#--Silver Slugger
df_SilverSlugger =  df_Awards[df_Awards.awardID == 'Silver Slugger']
df_SilverSlugger = df_SilverSlugger.groupby(['playerID']).size().reset_index()
df_SilverSlugger = df_SilverSlugger.rename(columns={df_SilverSlugger.columns[1]: 'SilverSlugger'})
df_myHOF = df_myHOF.merge(df_SilverSlugger, on=["playerID"], how='left')

df_myHOF.head(5)

,ElectionDecade,inducted,ballots,needed,votes,yearid,playerID,birthYear,birthMonth,birthDay,...,3B,BB,IBB,AB,AllStarStarts,AllStarGames,GoldGlove,TSNAllStar,MVP,SilverSlugger
0,1960,N,302.0,227.0,1.0,1966,adamsbo03,1921.0,12.0,14.0,...,49,414,1.0,4019,NaN,NaN,NaN,NaN,NaN,NaN
1,1950,N,266.0,200.0,1.0,1958,adamssp01,1894.0,8.0,26.0,...,48,453,0.0,5557,NaN,NaN,NaN,NaN,NaN,NaN
2,1960,N,269.0,202.0,1.0,1960,adamssp01,1894.0,8.0,26.0,...,48,453,0.0,5557,NaN,NaN,NaN,NaN,NaN,NaN
3,1970,N,432.0,324.0,0.0,1979,ageeto01,1942.0,8.0,9.0,...,27,342,26.0,3912,0.0,2.0,2.0,NaN,NaN,NaN
4,1970,N,432.0,324.0,0.0,1979,allenbe01,1939.0,4.0,16.0,...,21,370,52.0,3404,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
#---------------------------------------
# eliminate unneeded columns & set data types & remove NaN
#---------------------------------------
myHOFColumns = ['playerID', 'nameFirst','nameLast'
                ,'ElectionDecade','yearid','ballots','needed','votes',
                'R','H','HR','RBI','SB','2B','3B','BB','IBB','AB',
                'AllStarStarts','AllStarGames',
                'GoldGlove', 'TSNAllStar','MVP','SilverSlugger',
                'inducted']

df_myHOF = df_myHOF[myHOFColumns].copy()
#df_myHOF['yearid'] = df_myHOF.yearid.astype(int)
#df_myHOF['ballots'] = df_myHOF.ballots.astype(int)
#df_myHOF['needed'] = df_myHOF.needed.astype(int)
#df_myHOF['votes'] = df_myHOF.votes.astype(int)
#df_myHOF['GoldGloves'] = df_myHOF.GoldGlove.astype(int)
#df_myHOF['AllStarStarts'] = df_myHOF.AllStarStarts.astype(int)
#df_myHOF['AllStarGames'] = df_myHOF.AllStarGames.astype(int)
#print(df_myHOF.dtypes)

df_myHOF = df_myHOF.fillna(0.0)
df_myHOF.head(5)

,playerID,nameFirst,nameLast,ElectionDecade,yearid,ballots,needed,votes,R,H,...,BB,IBB,AB,AllStarStarts,AllStarGames,GoldGlove,TSNAllStar,MVP,SilverSlugger,inducted
0,adamsbo03,Bobby,Adams,1960,1966,302.0,227.0,1.0,591,1082,...,414,1.0,4019,0.0,0.0,0.0,0.0,0.0,0.0,N
1,adamssp01,Sparky,Adams,1950,1958,266.0,200.0,1.0,844,1588,...,453,0.0,5557,0.0,0.0,0.0,0.0,0.0,0.0,N
2,adamssp01,Sparky,Adams,1960,1960,269.0,202.0,1.0,844,1588,...,453,0.0,5557,0.0,0.0,0.0,0.0,0.0,0.0,N
3,ageeto01,Tommie,Agee,1970,1979,432.0,324.0,0.0,558,999,...,342,26.0,3912,0.0,2.0,2.0,0.0,0.0,0.0,N
4,allenbe01,Bernie,Allen,1970,1979,432.0,324.0,0.0,357,815,...,370,52.0,3404,0.0,0.0,0.0,0.0,0.0,0.0,N

In [ ]:
#---------------------------------------
#       set percent of votes
#---------------------------------------
#df_myHOF['percentOfVotes'] = df_myHOF.apply(lambda x: calc_percentOfVotes(x.ballots, x.votes), axis=1)

In [ ]:
#---------------------------------------
#           limit dataset
#---------------------------------------
df_myHOF = df_myHOF[df_myHOF.yearid >= 1970]

In [37]:
df_Decade = df_myHOF.groupby(['ElectionDecade']).agg({'R':'sum','H':'sum','HR':'sum','RBI':'sum','SB':'sum','2B':'sum','3B':'sum','BB':'sum','IBB':'sum','AB':'sum'}).reset_index()

df_Decade.head(5)

,ElectionDecade,R,H,HR,RBI,SB,2B,3B,BB,IBB,AB
0,1930,193785,369546,11008,160541.0,53739.0,58238,21995,117555,0.0,1270592
1,1940,194894,376345,16686,172719.0,39596.0,63051,20468,122014,0.0,1274866
2,1950,382821,747702,41756,345121.0,56373.0,129643,37088,258069,1.0,2534696
3,1960,250708,480755,35792,232544.0,23295.0,84615,20228,181707,1412.0,1650061
4,1970,233588,460179,40078,214641.0,19042.0,74417,16433,168777,7553.0,1622654

In [38]:
#--Runs
sns.boxplot(x="ElectionDecade", y="R", palette=["m", "g"], data=df_myHOF, hue="inducted")
plt.figure()
g = sns.lmplot(x="yearid", y="R",hue="inducted", data=df_myHOF, markers=["X", "o"], palette={"Y": "#FD031A", "N": "#9A9A7D"})
plt.figure()

NameError: name 'sns' is not defined

In [ ]:

#--Hits
sns.boxplot(x="ElectionDecade", y="H", palette=["m", "g"], data=df_myHOF, hue="inducted")
plt.figure()
g = sns.lmplot(x="yearid", y="H",hue="inducted", data=df_myHOF, markers=["o", "X"], palette={"Y": "#FD031A", "N": "#9A9A7D"})
               
#--HR
plt.figure()
sns.boxplot(x="ElectionDecade", y="HR", data=df_myHOF, hue="inducted")
sns.despine(offset=10, trim=True)             
plt.figure()
g = sns.lmplot(x="yearid", y="HR",hue="inducted", data=df_myHOF, markers=["X", "o"], palette={"Y": "#FD031A", "N": "#9A9A7D"})

#--RBI
plt.figure()               
sns.boxplot(x="ElectionDecade", y="RBI", data=df_myHOF, hue="inducted")
sns.despine(offset=10, trim=True)             
plt.figure()
g = sns.lmplot(x="yearid", y="RBI",hue="inducted", data=df_myHOF, markers=["X", "o"], palette={"Y": "#FD031A", "N": "#9A9A7D"})

#--AllStarStarts
plt.figure()               
sns.boxplot(x="ElectionDecade", y="AllStarStarts", data=df_myHOF, hue="inducted")
sns.despine(offset=10, trim=True)             
plt.figure()
g = sns.lmplot(x="yearid", y="AllStarStarts",hue="inducted", data=df_myHOF, markers=["X", "o"], palette={"Y": "#FD031A", "N": "#9A9A7D"})

#--AllStarGames
plt.figure()               
sns.boxplot(x="ElectionDecade", y="AllStarGames", data=df_myHOF, hue="inducted")
sns.despine(offset=10, trim=True)             
plt.figure()
g = sns.lmplot(x="yearid", y="AllStarGames",hue="inducted", data=df_myHOF, markers=["X", "o"], palette={"Y": "#FD031A", "N": "#9A9A7D"})

#--GoldGlove
plt.figure()   
sns.boxplot(x="ElectionDecade", y="GoldGlove", data=df_myHOF, hue="inducted")
sns.despine(offset=10, trim=True)             
plt.figure()
g = sns.lmplot(x="yearid", y="GoldGlove",hue="inducted", data=df_myHOF, markers=["X", "o"], palette={"Y": "#FD031A", "N": "#9A9A7D"})
               
#--MVP
plt.figure()
sns.boxplot(x="ElectionDecade", y="MVP", data=df_myHOF, hue="inducted")
sns.despine(offset=10, trim=True)             
plt.figure()
g = sns.lmplot(x="yearid", y="MVP",hue="inducted", data=df_myHOF, markers=["X", "o"], palette={"Y": "#FD031A", "N": "#9A9A7D"})

#--SilverSlugger
plt.figure()
sns.boxplot(x="ElectionDecade", y="SilverSlugger", data=df_myHOF, hue="inducted")
sns.despine(offset=10, trim=True)             
plt.figure()
g = sns.lmplot(x="yearid", y="SilverSlugger",hue="inducted", data=df_myHOF, markers=["X", "o"], palette={"Y": "#FD031A", "N": "#9A9A7D"})


#sns.boxplot(x="H",data=df_myHOF)
print('H:\n',df_myHOF.H.describe())
print('HR:\n',df_myHOF.HR.describe())
print('RBI:\n',df_myHOF.RBI.describe())
print('AllStarStarts:\n',df_myHOF.AllStarStarts.describe())
print('AllStarGames:\n',df_myHOF.AllStarGames.describe())
print('GoldGlove:\n',df_myHOF.GoldGlove.describe())
print('MVP:\n',df_myHOF.MVP.describe())
print('SilverSlugger:\n',df_myHOF.SilverSlugger.describe())
print('AB:\n',df_myHOF.AB.describe())
#df_myHOF.corr().to_excel('data/myHOFCorr.xlsx')

print(df_myHOF.head(5))
df_Decade.to_excel('data/myHOF.xlsx')




print('----- ALL DONE -----')

In [6]:
#--Runs
sns.boxplot(x="ElectionDecade", y="R", palette=["m", "g"], data=df_myHOF, hue="inducted")
plt.figure()
g = sns.lmplot(x="yearid", y="R",hue="inducted", data=df_myHOF, markers=["X", "o"], palette={"Y": "#FD031A", "N": "#9A9A7D"})
plt.figure()

NameError: name 'sns' is not defined